h1{
    margin: 0;
}

.contenedor-1{
    width: 100%;
    height: 900px;
    position: relative;
}
.contenedor-1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    z-index: -1;
    background: url('../img/fondo-3.png') no-repeat;
    background-size: cover;
    background-position: center 80%;
    mask-image: linear-gradient(to left, black 60%, rgba(0,0,0,0.5) 80%, transparent 95%),
                linear-gradient(to bottom, black 60%, rgba(0,0,0,0.5) 80%, transparent 100%);
                mask-composite: intersect;
}
.contenedor-1 .logo{
    width: auto;
    height: 400px;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
}
.contenedor-1 .info-cliente{
    width: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.contenedor-1 h1{
    width: 100%;
    color: #ff3131;
    font-size: 200px;
    text-align: center;
    letter-spacing: 2px;
    margin: -50px 0 -50px 0;
}
.contenedor-1 h2{
    width: 100%;
    color: white;
    font-size: 80px;
    text-align: center;
    letter-spacing: 2px;
    margin: 0;
}

.titulo_contenedor-2{
    width: 100%;
    text-align: center;
    color: #ff3131;
    text-transform: uppercase;
    font-size: 50px;
}

.contenedor-2{
    width: 100%;
    height: 900px;
    position: relative;
}

.contenedor-2::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    z-index: -1;
    background: url('../img/fondo-2.png') no-repeat center;
    background-size: cover;
    background-position: center 35%;
    mask-image: linear-gradient(to bottom, black 80%, rgba(0,0,0,0.5) 90%, transparent 100%),
                linear-gradient(to left, black 60%, rgba(0,0,0,0.5) 80%, transparent 95%),
                linear-gradient(to top, black 85%, rgba(0,0,0,0.5) 90%, transparent 100%);
                mask-composite: intersect;
}

.contenedor-2 .contenedor-2_1{
    width: 30%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;

    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

.contenedor-3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    padding: 50px 15% 0 15%;
    background: url('../img/img-2.png') no-repeat center;
    background-size: cover;
    color: white;
}
.contenedor-3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('../img/img-2.1-o.png') no-repeat center;
    background-size: cover;
    mask-image: linear-gradient(to top, black 85%, rgba(0,0,0,0.5) 90%, transparent 100%);
}

.contenedor-3 .adornos{
    position: absolute;
    top: 2%;
    left: 0;
    width: 100%;
}
.contenedor-3 .adornos-2{
    position: absolute;
    top: 550px;
    left: 0;
    width: 100%;
}
.contenedor-3 .adorno-1,
.contenedor-3 .adorno-2{
    height: 200px;
}
.contenedor-3 .adorno-2{
    position: absolute;
    right: 0;
}

.contenedor-3 .tarjeta{
    margin: 0 30px 30px 30px;
}
.contenedor-3 .tarjeta h2{
    text-align: center;
    margin-bottom: 30px;
}
.contenedor-3 .tarjeta ul{
    border: #fbff2a 10px dashed;
    min-height: 300px;
    font-size: 30px;
}

.contenedor-3 h2{
    margin: 0;
    font-size: 50px;
}
.contenedor-3 p{
    font-size: 25px;
    margin: 0;
}
.contenedor-3 .direccion{
    grid-column: span 2;
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    width: 50%;
}
.contenedor-3 .direccion img{
    width: 80px;
    height: auto;
    vertical-align: middle;
}
.contenedor-3 .contacto{
    margin: 50px 0 30px 5px;
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contenedor-3 .titulo-contacto h2{
    margin-right: 100px;
    margin-top: 30px;
    color: #fbff2a;
    text-align: end;
}
.contenedor-3 .contacto .contacto-linea{
    display: grid;
    grid-template-columns: 60px auto;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contenedor-3 .contacto img{
    width: 40px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}


@media (max-width: 576px){
    .contenedor-1{
        height: 45vh;
    }
    .contenedor-1::before{
        background-position: center;
    }
    .contenedor-1 .info-cliente{
        top: 60%;
    }
    .contenedor-1 h1{
        font-size: 70px;
        margin: -20px 0 -20px 0;
    }
    .contenedor-1 h2{
        font-size: 30px;
    }

    .titulo_contenedor-2{
        font-size: 15px;
        margin: 20px 0;
    }

    .contenedor-2{
        height: 45vh;
    }  
    .contenedor-2 .contenedor-2_1{
        font-size: 15px;
    } 

    .contenedor-3{
        grid-template-columns: 1fr;
        padding: 50px 5% 0 5%;
    }
    .contenedor-3 .contacto{
        grid-template-columns: 1fr;
    }
    .contenedor-3 .adorno-1,
    .contenedor-3 .adorno-2{
        height: 50px;
    }
    .contenedor-3 .direccion,
    .contenedor-3 .contacto{
        grid-column: auto;
    }
    .contenedor-3 .direccion{
        width: 100%;
        grid-template-columns: 90px auto;
    }
    .contenedor-3 .titulo-contacto h2{
        text-align: center; 
        margin-right: 0;  
        margin-bottom: 10px; 
    }
}