footer{
    width: 80%;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'avenir';
    margin-left: 50%;
    transform: translateX(-50%);
}

footer a{
    text-decoration: none;
    color: white;
}

footer hr{
    border: 5px solid white;
    margin: 10px 0;
}

.column1 {
    border-right: 1px solid rgba(255, 255, 255, 0.5); 
}

.column1 img{
    width: 150px;
    height: auto;
}

.column1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.column2{
    color: #fbff2a;
    text-align: center;
    border-right: none;
}
.column2 h3{
    font-family: 'Anton';
    font-size: 30px
}
.column2 a img{
    width: 50px;
    height: auto;
    margin-right: 15px;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}
.column2 a:hover img,
.column2 a:focus img {
    transform: scale(1.15);
    filter: drop-shadow(0 0 8px #fbff2a);
}

@media (max-width: 576px){
    footer{
        width: 95%;
        grid-template-columns: 1fr;
        margin-bottom: 40px;
        margin-top: 0;
    }

    .column1 {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5); 
        border-right: none;
    }

    .column1{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}