footer{
    width: 80%;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1.5fr;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'avenir';
    margin-left: 50%;
    transform: translateX(-50%);
}

footer a{
    text-decoration: none;
    color: white;
}

footer hr{
    border: 5px solid white;
    margin: 10px 0;
}

.column1, .column2 {
    border-right: 1px solid rgba(255, 255, 255, 0.5); 
}

.column1 img{
    width: 150px;
    height: auto;
}

.column3{
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 100px;
}
.column3 .grupo{
    margin-bottom: 20px;
}

.column3 h3{
    margin-bottom: 10px;
}
.column3 p{
    margin: 2px 0;
    text-decoration: none;
}

.column2{
    color: #fbff2a;
    text-align: center;
}
.column2 h3{
    font-family: 'Anton';
    font-size: 30px
}
.column2 a img{
    width: 50px;
    height: auto;
    margin-right: 15px;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}
.column2 a:hover img,
.column2 a:focus img {
    transform: scale(1.15);
    filter: drop-shadow(0 0 8px #fbff2a);
}

@media (max-width: 576px){
    footer{
        width: 95%;
        grid-template-columns: 1fr;
        margin-bottom: 40px;
    }

    .column1, .column2 {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5); 
        border-right: none;
        padding-bottom: 30px;
    }

    .column1{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .column3{
        margin-left: 0;
        margin-top: 30px;
    }
}